<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
<h1>Issues: </h1>
<table>
    <tr>
        <th>Book</th>
        <th>Reader</th>
        <th>Issued at</th>
        <th>Returned at</th>
    </tr>
    <tr th:each="issueDTO: ${issues}">
        <th th:text="${issueDTO.getBookDTO().getName()}"></th>
        <th th:text="${issueDTO.getReaderDTO().getName()}"></th>
        <th th:text="${issueDTO.getIssuedAt()}"></th>
        <th th:if="${issueDTO.getReturnedAt()} != null"  th:text="${issueDTO.getReturnedAt()}"></th>
    </tr>
</table>
</body>
</html>